{% extends 'base.html.twig' %}

{% block title %}Hello Register!{% endblock %}

{% block body %}
<section class="container mt-4">
		<h1 class="text-center text-muted">Nouveau membre</h1>
		<div class="row">
			<div class="col-md-5 mx-auto">

				{% for label,message in app.flashes %}
						<div class="alert alert-{{label}}">
							{{message[0]}}
						</div>
				{% endfor %}

				{{form(form)}}
				</div>
			</div>
		</section>
{% endblock %}
