{% extends 'base.html.twig' %}

{% block title %}Ajout d'un livre{% endblock %}

{% block body %}
<section class="container mt-4">
    <h1 class="text-center text-muted">Nouveau livre</h1>
    <div class="row">
        <div class="col-md-5 mx-auto">
        {% for label,messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{label}}">
							{{message}}
						</div>
					{% endfor %}
				{% endfor %}
            {{ form(form) }}
        </div>
    </div>
</section>
{% endblock %}
